
<div class="main">
  <div class="chat-header">
    <div class="left-header">
      <div class="chat-title">
      <%= @room.name%>
      </div>
    </div>
    <div class="right-header">
      <%= @room.students.pluck(:name).join(" , ")%>
    </div>
  </div>

  <div class="messages">
      <%=render partial: 'message', collection: @messages%>
  </div>

 <%=form_with model:[@room,@message], class:"form",local: true do |f|%>
    <div class="form-input">
      <label class="form-image">
      <span class="image-file"><i class="fas fa-paperclip"></i></span>
      <%= f.file_field :image, class:"hidden" %>
      </label>
      <%= f.text_area :content, class:"form-message" , placeholder:"type a message",id: "content"%>
    </div>
    <%=f.submit "送信", class:"form-submit"%>
  <%end%>
</div>
