<%if current_user.id == message.user.id%>
<div class="message-wrapper">
     <div class="my-message">
      <div class="my-name-date">
        <div class="name">
          <%=message.user.name%>
        </div>
        <div class="date">
          <%=l message.created_at%>
        </div>
      </div>
      <div class="text">
        <p><%= message.content%></p>
      </div>
       <%=image_tag message.image.variant(resize: '300x300'), class: 'message-image' if message.image.attached?%>
    </div>
    </div>

<%else%>
    <div class="message-wrapper">
    <div class="your-message">
      <div class="your-name-date">
        <div class="name">
          <%=message.user.name%>
        </div>
        <div class="date">
          <%=l message.created_at%>
        </div>
      </div>
      <div class="text">
        <p><%=message.content%></p>
      </div>
      <%=image_tag message.image.variant(resize: '300x300'), class: 'message-image' if message.image.attached?%>
    </div>
  </div>
  <%end%>

  