<div class='account-page' id='account-page'>
  <div class='account-page__inner '>
    <div class='account-page__header'>
      <h2>アカウント編集</h2>
    </div>
    <div class='user-form'>
    
      <%= form_with model: current_student, local: true do |f|%>
      <%=render 'layouts/error_messages', model: f.object%>
        <div class='field'>
          <div class='field-label'>
            <%= f.label :image, "プロフィール画像"%>
          </div>
          <div class='field-input'>
            <%=f.file_field :image,class: "profile-image-field"%>
          </div>
        </div>
        <div class='field'>
          <div class='field-label'>
            <%= f.label :name%>
          </div>
          <div class='field-input'>
            <%= f.text_field :name, autofocus: true%>
          </div>
        </div>
        <div class='field'>
          <div class='field-label'>
            <%= f.label :email%>
          </div>
          <div class='field-input'>
            <%= f.email_field :email%>
          </div>
        </div>
        <div class='field'>
          <div class='field-label'>
            <%= f.label :status_message, "メッセージ"%>
          </div>
          <div class='field-input'>
            <%= f.text_area :status_message%>
          </div>
        </div>
        <div class='actions'>
          <%= f.submit "Update", class: 'btn'%>
        </div>
      <% end %>
    </div>
  </div>
</div>
