<div class="wrapper">
<div class="piano__image-wrap">
<div class="piano__image">

<div class='account-page'>
  <div class='account-page__inner'>
    <div class='account-page__header'>
      <h2>登録情報</h2>
    </div>

   <div class='account-info'>
      <div class="account-info-data">   
      <div class="account-info-data__left">
        <%=image_tag current_student.image.variant(resize: '70x70') , class: "user-image" if current_student.image.attached?%>
      </div>

      <div class="account-info-data__right">
      <p>名前： <%=current_student.name%></p>
      <p>メールアドレス： <%=current_student.email%></p>
      <p>メッセージ： <%=current_student.status_message%></p>
      </div>
      </div>
    </div>
    <div class="move">
     <%= link_to "編\b\b集", edit_student_path,class: 'logout'%>
     <%= link_to "ログアウト", destroy_student_session_path, method: :delete,class: 'logout'%>
     </div>
     <%=link_to "＞＞アカウントを削除する", student_registration_path, method: :delete,class: 'destroy_user',data: {confirm: "本当に削除しますか？"}  %>
</div>
</div>
</div>
</div>
</div>