<%if teacher_signed_in?%>
<%if contact.is_student%>
<div class="message-wrapper">
    <div class="your-message">
      <div class="your-name-date">
        <div class="name"> 
         <%=@teacher_room.student.name%>
        </div>
        <div class="date"> 
          <%=contact.created_at.strftime("%Y年%m月%d日%H時%M分") %>
        </div>
      </div>
       <%if contact.content != ""%>
      <div class="text">
        <%=simple_format(contact.content)%>
      </div>
      <%end%>
      <div class='message-image'>
      <%=image_tag contact.image.variant(resize: '300x300'), class: 'message-img' if contact.image.attached?%>
      </div>
    </div>
  </div>

  <%else%>
<div class="message-wrapper">
     <div class="my-message">
      <div class="my-name-date">
        <div class="name">
          
          <%=@teacher_room.teacher.name%>
        
        </div>
        <div class="date">
          <%= contact.created_at.strftime("%Y年%m月%d日%H時%M分")%>
        </div>
      </div>
      <%if contact.content != ""%>
      <div class="text">
        <%=simple_format(contact.content)%>
      </div>
      <%end%>
      <div class='message-image'>
      <%=image_tag contact.image.variant(resize: '300x300'), class: 'message-img' if contact.image.attached? %>
      </div>
    </div>
    </div>
  <%end%>

  <%else%>
  <%if contact.is_student%>
  <div class="message-wrapper">
     <div class="my-message">
      <div class="my-name-date">
        <div class="name">
          
          <%=@teacher_room.student.name%>
        
        </div>
        <div class="date">
          <%= contact.created_at.strftime("%Y年%m月%d日%H時%M分")%>
        </div>
      </div>
      <%if contact.content != ""%>
      <div class="text">
        <%=simple_format(contact.content)%>
      </div>
      <%end%>
      <div class='message-image'>
      <%=image_tag contact.image.variant(resize: '300x300'), class: 'message-img' if contact.image.attached?%>
      </div>

    </div>
    </div>
    <%else%>
<div class="message-wrapper">
    <div class="your-message">
      <div class="your-name-date">
        <div class="name"> 
         <%=@teacher_room.teacher.name%>
        </div>
        <div class="date"> 
          <%=contact.created_at.strftime("%Y年%m月%d日%H時%M分") %>
        </div>
      </div>
      <%if contact.content != ""%>
      <div class="text">
        <%=simple_format(contact.content)%>
      </div>
      <%end%>
      <div class='message-image'>
      <%=image_tag contact.image.variant(resize: '300x300'), class: 'message-img' if contact.image.attached?%>
      </div>
    </div>
  </div>

  <%end%>
  

  <%end%>

  