<div class="wrapper">
<div class="piano__image-wrap">
<div class="piano__image">

<div class='account-page'>
  <div class='account-page__inner'>
    <div class='account-page__header'>
      <h2>登録情報</h2>
      </div>

   <div class='account-info'>
      <div class="account-info-data">
      <div class="account-info-data__left">
        <%=image_tag current_teacher.image.picture.url, class: "user-image" if current_teacher.image?%>
      </div>

      <div class="account-info-data__right">
      <p>名前： <%=current_teacher.name%></p>
      <p>講師ID： <%=current_teacher.id%></p>
      <p>メールアドレス： <%=current_teacher.email%></p>
      <p>メッセージ： <%=current_teacher.status_message%></p>
      </div>
      </div>
   </div>

    <div class="move">
    <%= link_to "編\b\b集", edit_teacher_path,class: 'logout'%>
      <%= link_to "ログアウト", destroy_teacher_session_path, method: :delete,class: 'logout'%>
    </div>
     <%=link_to "＞＞アカウントを削除する", teacher_registration_path, method: :delete,class: 'destroy_user',data: {confirm: "本当に削除しますか？"}  %>
     
   
  </div>
</div>
</div>
</div>
</div>
