<div class="wrapper">
<div class="piano__image-wrap">
<div class="piano__image">

<div class='account-page'>
  <div class='account-page__inner'>
    <div class='account-page__header'>
      <h2>ようこそ、<%=current_teacher.name%>先生</h3>
      </div>

   <div class='account-info'>
      <h3>- 登録情報 -</h3>
      <div class="account-info-data">
      
      <div class="account-info-data__left">
        <%=image_tag current_teacher.image.variant(resize: '70x70') , class: "user-image" if current_teacher.image.attached?%>
      </div>

      <div class="account-info-data__right">
      <p>名前： <%=current_teacher.name%></p>
      <p>メールアドレス： <%=current_teacher.email%></p>
      <p>メッセージ： <%=current_teacher.status_message%></p>
      </div>
      </div>
   </div>

    <div class="move">
      <%= link_to "ログアウト", destroy_teacher_session_path, method: :delete,class: 'btn'%>
    </div>
     
   
  </div>
</div>
</div>
</div>
</div>
