<div class='account-page' id='account-page'>
  <div class='account-page__inner'>
    <div class='account-page__header'>
      <h2>こねくと</h2>
      <h5>登録しているユーザーでログイン</h5>
      
    </div>
    <div class='user-form'>
      <%= form_with model: resource, as: resource_name, url: session_path(resource_name), local: true do |f|%>
        <div class='field'>
          <div class='field-label'>
            <%= f.label :email,"メールアドレス"%>
          </div>
          <div class='field-input'>
            <%= f.email_field :email, autofocus: true%>
          </div>
        </div>
          <div class='field'>
            <div class='field-label'>
              <%= f.label :password, "パスワード"%>
            </div>
            <div class='field-input'>
              <%= f.password_field :password, autocomplete: "off"%>
            </div>
          </div>
          <div class='actions'>
            <%= f.submit "ログイン", class: 'btn'%>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class='account-page__inner '>
  <div class="move-page">アカウントをお持ちでないですか？→
  <%=link_to "新規登録",new_registration_path(resource_name)%>
  </div>
  </div>
</div>
