<!DOCTYPE html>
<html>
  <head>
    <title>ChatService</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
   <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
  </head>

  <body>
   <%if student_signed_in? %>
  <div class="screen">
     <div class = "header-bar">
     <div class = "header-bar__left">
        <%=link_to student_path(current_student.id),class:"link-li" do%>
         <i class="fas fa-home" > home</i>
        <%end%>
        <%=link_to edit_student_path(current_student.id),class:"link-li" do%>
         <i class="fas fa-edit">edit</i>
        <%end%>
        <%=link_to rooms_path,class:"link-li" do%>
        <i class="fas fa-comments"> students</i>
        <%end%>
        <%=link_to teacher_rooms_path,class:"link-li" do%>
        <i class="fas fa-comments"> teacher</i>
        <%end%>
      </div>
      <div class= "header-bar__right">
         <%=image_tag current_student.image.variant(resize: '40x40') , class: "user-image" if current_student.image.attached?%>
         <%= link_to(current_student.name,edit_student_path(current_student.id))%>
      </div>
     </div>
     <div class= "wrap">
        <%= yield %>
     </div>
  </div>
  <%elsif teacher_signed_in? %>
  <div class="screen">
     <div class = "header-bar">
      <div class = "header-bar__left">
        <%=link_to teacher_path(current_teacher.id) do%>
        <i class="fas fa-home"> home</i>
        <%end%>
        <%=link_to edit_teacher_path(current_teacher.id) do %>
        <i class="fas fa-edit"> edit</i>
        <%end%>
        <%=link_to teacher_rooms_path do%>
        <i class="fas fa-comments"> chat</i>
        <%end%>
        </div>
         <div class= "header-bar__right">
         <%= link_to(current_teacher.name,edit_teacher_path(current_teacher.id))%>
      </div>
     </div>
     <div class= "wrap">
        <%= yield %>
     </div>
  </div>
  <%else%>
  <%= yield %>
   <%end %>
  </body>
</html>
